html {
  scroll-behavior: smooth;
  font-size: rem(16);
}

body {
  background-color: $white;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: $openSans;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  margin: 0 rem($small);

  @media all and (min-width: 768px) {
    margin: 0 rem($big);
  }

  @media all and (min-width: 1200px) {
    margin: 0 rem(138);
  }
}

/* fix the overlap of the nav in the section header when scrolling */
#scroll-space-team,
#scroll-space-about {
  height: 0;
  position: absolute;
  top: rem(-105);
  left: 0;
  @media all and (min-width: 768px) {
    top: rem(-60);
  }
}
