<section id="about">
  <div id="scroll-space-about"></div>
  <div class="wrapper">
    <h2 class="about__title">About Us</h2>
    <ul class="member__list">
      <li class="member__item">
        <div class="member__image--container">
          <img src="assets/images/aia.jpg" alt="Aia's Image" class="member__image" />
        </div>
        <div class="member__content">
          <h4 class="member__name">Aia Rupsom</h4>
          <h3 class="member__origin">(Israel)</h3>
          <p class="member__bio">
            I'm a biotech graduate from Israel with 2 years of experience in genetic research in plants. I was exposed to the programming world during my 3 years of military service. I made my first steps in the programming world at She Codes - a community of women whose goal is to increase the
            presence of women in Israeli high-tech. 3 months ago I moved to Madrid and decided to turn my love for programming into a career. So, here I am, starting my adventure at Adalab :)
          </p>
          <ul class="member__linkList">
            <li class="member__linkItem">
              <a href="https://twitter.com/AiaRupsom" class="social_media_link" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="https://www.linkedin.com/in/aia-rupsom/" class="social_media_link" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="https://github.com/AiaRup" class="social_media_link" target="_blank">
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="mailto:aiale88@gmail.com" class="social_media_link">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member__item">
        <div class="member__image--container">
          <img src="assets/images/ale.jpg" alt="Alejandra's Image" class="member__image" />
        </div>
        <div class="member__content">
          <h4 class="member__name">Alejandra Soto Arevalo</h4>
          <h3 class="member__origin">(Venezuela)</h3>
          <p class="member__bio">
            I’m Industrial Engineer from Venezuela, with tons of love for technology. I discovered programming at college, and it was love at first sight; solving problems using logic and creativity is more than awesome. My work experience includes 9 years working at the back-office of a Bank and 2
            and a half years at a SME. I couldn't be more proud of being part of this amazing project, Adalab is giving me an incredible opportunity to grow as a professional and as a person... And I will gladly take it.
          </p>
          <ul class="member__linkList">
            <li class="member__linkItem">
              <a href="https://twitter.com/exec_ale" class="social_media_link" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="https://www.linkedin.com/in/alejandrasotoa/" class="social_media_link" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="https://github.com/asoto89" class="social_media_link" target="_blank">
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="mailto:asoto89@gmail.com" class="social_media_link">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member__item">
        <div class="member__image--container">
          <img src="assets/images/ari.jpg" alt="Ariane's Image" class="member__image" />
        </div>
        <div class="member__content">
          <h4 class="member__name">Ariane Jurado De Bilbao</h4>
          <h3 class="member__origin">(Venezuela)</h3>
          <p class="member__bio">
            I am a Nurse and Educational Psychologist from Venezuela, living in Madrid for the last 4 years. After two degrees and many years helping children with learning disabilities, it’s time for a new challenge: becoming a front-end programmer with Adalab looking to improve my son’s life and
            mine. And like all the big challenges I have had proposed to myself in my life, I have all the motivation to reach it... and I will!
          </p>
          <ul class="member__linkList">
            <li class="member__linkItem">
              <a href="https://twitter.com/Ari_Reinventada" class="social_media_link" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="https://www.linkedin.com/in/ariane-jurado-de-bilbao/" class="social_media_link" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="https://github.com/ArianeJDB" class="social_media_link" target="_blank">
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="mailto:ariane.jurado@gmail.com" class="social_media_link">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member__item">
        <div class="member__image--container">
          <img src="assets/images/carla.jpg" alt="Carla's Image" class="member__image" />
        </div>
        <div class="member__content">
          <h4 class="member__name">Carla Rodriguez</h4>
          <h3 class="member__origin">(Spain)</h3>
          <p class="member__bio">
            Formed in Philosophy and Cognitive Science in Madrid, New York and Edinburgh, I got in touch with the technological world through initiatives that wanted to raise women presence in STEAM. I have been part of training programs, such as Django Girls or the Technovation Challenge, that
            taught us how to start coding and the value of becoming part of a community. As part of that journey, I am currently an adalaber, willing to embrace new challenges as a front-end programmer while returning to the community what I have learnt so far!
          </p>
          <ul class="member__linkList">
            <li class="member__linkItem">
              <a href="https://twitter.com/c_rodrod" class="social_media_link" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="https://www.linkedin.com/in/carla-rodriguez-rodriguez/" class="social_media_link" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="https://github.com/crod2" class="social_media_link" target="_blank">
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="mailto:carlarodriguez90@gmail.com" class="social_media_link">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="member__item">
        <div class="member__image--container">
          <img src="assets/images/vero.jpg" alt="Veronica's Image" class="member__image" />
        </div>
        <div class="member__content">
          <h4 class="member__name">Veronica Enamorado</h4>
          <h3 class="member__origin">(Spain)</h3>
          <p class="member__bio">
            I studied Spanish Literature in Madrid and Washington DC, coordinating a variety of projects on each side of the pond. I've helped developing magazines, conferences and novel educational tools for language learning in the universities I've worked for. I love creating and diving head
            first into new enterprises. Now I'm ready to translate all of that into digital products, typing as much code as I can until I become a front end developer!
          </p>
          <ul class="member__linkList">
            <li class="member__linkItem">
              <a href="https://twitter.com/veroena1" class="social_media_link" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="https://www.linkedin.com/in/veronica-enamorado-diaz-68a53a144/" class="social_media_link" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="https://github.com/veroena" class="social_media_link" target="_blank">
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            <li class="member__linkItem">
              <a href="mailto:veronica.enamorado@gmail.com" class="social_media_link">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
