<form action="" method="post">
  <div class="contact__page form__container">
    <div class="field__container">
      <label class="field__label" for="fullName">Full name <span class="asterisk">*</span></label>
      <input class="field__input" type="text" id="fullName" name="fullName" placeholder="Name..." required />
    </div>

    <div class="field__container">
      <label class="field__label" for="email">Email <span class="asterisk">*</span></label>
      <input class="field__input" type="email" id="email" name="email" value="name.surname@main.com" placeholder="Email..." required />
    </div>

    <div class="field__container">
      <label class="field__label" for="phone">Phone number</label>
      <input class="field__input" type="tel" id="phone" name="phone" placeholder="Example: 123456789" />
    </div>

    <div class="field__container">
      <label class="field__label" for="message">Message<span class="asterisk">*</span></label>
      <textarea class="field__textarea field__input" id="message" rows="4" placeholder="Talk to us..."> </textarea>
    </div>

    <div class="field__button--container">
      <input class="field__button" type="submit" value="send" />
    </div>
  </div>
</form>
