<footer class="footer">
  <div class="wrapper">
    <div class="footer__container">
      <div class="footer__copyright">SISCODE © 2019</div>
      <ul class="footer__menu">
        <li class="footer__menu--item">
          <a href="index.html#scroll-space-team" class="footer__menu--link">TEAM</a>
        </li>
        <li class="footer__menu--item">
          <a href="index.html#scroll-space-about" class="footer__menu--link">ABOUT US</a>
        </li>
        <li class="footer__menu--item">
          <a href="contact.html" class="footer__menu--link">CONTACT</a>
        </li>
      </ul>
      <a href="https://adalab.es/" target="_blank" class="footer__adalab-logo"><img src="assets/images/logo-adalab.png" alt="logo adalab" class="adalab-logo"/></a>
    </div>
  </div>
</footer>
