<header id="header">
  <div class="header__logo">
    <div class="wrapper">
      <a href="index.html">
        <img src="assets/images/siscode-logo.png" class="logo" alt="logo" />
      </a>
      <!-- Created my free logo at LogoMakr.com -->
    </div>
    <!--  wrapper-->
  </div>
  <!--  header__logo-->
  <div class="wrapper">
    <nav class="header__menu">
      <ul class="menu__list">
        <li class="menu__item"><a href="index.html#scroll-space-team" class="menu__link">TEAM</a></li>
        <li class="menu__item"><a href="index.html#scroll-space-about" class="menu__link">ABOUT US</a></li>
        <li class="menu__item"><a href="contact.html" class="menu__link">CONTACT</a></li>
      </ul>
    </nav>
  </div>
  <!--  wrapper-->
</header>
