<section id="team">
  <div id="scroll-space-team"></div>
  <div class="wrapper">
    <h2 class="team__title">TEAM</h2>
    <p class="team__paragraph">
      SISCODE is an international group of amazing women formed in social and educational sciences, engineering, health and humanities, who are trying to rethink their professional future within the web development field, learning from each other and from the community. As a team, we want to show
      the world that it is never too late to take on new challenges and that being a woman in tech is not an obstacle anymore.
    </p>
  </div>
  <aside class="sw__container">
    <div class="wrapper">
      <div class="sw__triangle--container"></div>
      <div class="sw__triangle"></div>
      <div class="sw__content">
        <div class="sw__content--item">
          <h3 class="sw__title">Strengths</h3>
          <p class="sw__paragraph">
            Each of us come from very different backgrounds and cultures. Therefore, we respond well to changes, including great challenges such as learning to code in 13 weeks!. We all share diverse experiences and, as such, have developed strong communication and effective listening skills that
            help us make better decisions together and being comprehensive and empathetic. More importantly, we are always willing to bring the best of each other and the team in this learning process that has just started.
          </p>
        </div>
        <!--  sw__content__item-->
        <div class="sw__content--item">
          <h3 class="sw__title">Weaknesses</h3>
          <p class="sw__paragraph">
            Some of us are having the first contact with coding in our lives. As a result, mistakes are guaranteed, but we also learn from them, and believe that is the best way to progress. Front-end development is a new world for us, there is plenty of new information every day about coding,
            design and ourselves that we must handle altogether at the same time, and sometimes the road gets tricky. However, SISCODE is here to stay!
          </p>
        </div>
        <!--  sw__content__item-->
      </div>
      <!--  sw-content-->
    </div>
    <!--  wrapper-->
  </aside>
</section>
