<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SISCODE</title>
    <link rel="icon" href="siscode-favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Rubik:400,500" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>

  <body class="body__form">
    <partial src="_header.html"></partial>
    <partial src="_hero-contact.html"></partial>
    <main>
      <div class="wrapper">
        <div class="contact__page">
          <h1 class="contact__main--title">contact us</h1>
          <p class="contact__main--text">
            We are always open to discussing new projects, creative ideas or opportunities.
          </p>
          <p class="contact__main--secondarytext">Fields marked with <span class="asterisk">*</span> are mandatory.</p>
        </div>
        <partial src="_contact-form.html"></partial>
      </div>
    </main>
    <partial src="_footer.html"></partial>
  </body>
</html>
