<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <title>SISCODE</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik:400,500" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <partial src="_header.html"></partial>
    <main>
      <partial src="_hero.html"></partial>
      <partial src="_team.html"></partial>
      <partial src="_about-us.html"></partial>
    </main>
    <partial src="_footer.html"></partial>
  </body>
</html>
