@import 'components/typography';

// aditional padding for content. Remove after adding hero.

.contact__main {
    padding-top: 300px; 
}

// sheets styles
main {
    padding: 0;
    margin: 0;
}


// form styles 

.contact__page {
    @include paragraphStyle;

    & .contact__main--title {
        @include titleStyle ($lightGreen, 24px);
    }

    & .contact__main--secondarytext {
        font-size: 12px;
    }

    & .asterisk{
        color: aqua;
    }

    & .field__label {
        font-size: 14px;
        display: block;
        text-align: left;
    }

    & .field__input {
        width: 100%;
        height: 45px;
        border: solid 1px $lightGray;
        padding: 15px;
        box-sizing: border-box;
        color: $darkGray;
        font-family: $openSans;
    }

    & .field__textarea {
        height: 105px;
    }
}






