// sheets styles
body {
    padding: 200px 0;
}
.contact__page {
    padding: 0;
    margin: 0 auto 60px;
   
}


// form styles 

.contact__page {
    @include paragraphStyle;
    max-width: rem(442);

    @media all and (min-width:1200px) {
        max-width: rem(601);
    }

    .field__container {
        margin-top: rem(13);
        margin: 0 auto;
        
        &:first-child {
            margin-top: rem(58);
        }
    
    @media all and (min-width:1200px) {
        &:nth-child(2) {
            width: rem(395);
            display: inline-block;
            margin: 0 rem(39) 0 0;
            padding: 0;
        }

        &:nth-child(3) {
            width: rem(162);
            display: inline-block;
            margin: 0;
            padding: 0;
        }
    }
        
    }

    .form__container {
        display: flex;
    }

    .contact__main--title {
        @include titleStyle ($darkGreen, rem(24));
        padding: 0;
        margin: 0 0 rem($small) 0;
        text-transform: uppercase;
    }

    .contact__main--secondarytext {
        font-size: rem(12);
        margin-bottom: 0;
    }

    .asterisk{
        color: aqua;
    }

    .field__label {
        font-size: rem(14);
        display: block;
        text-align: left;
    }

    .field__input {
        @include formStyle($darkGray);
        border: solid rem(1) $lightGray;
        padding: rem(11) rem($small) rem($small);
        font-size: rem(14);
    }

    .field__textarea {
        height: rem(105);
    }

    .field__button--container{
        max-width: rem(442);
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;

        @media all and (min-width:1200px) {
            max-width: rem(601);
        }
    }

    .field__button {
        @include formStyle($white);
        margin-top: rem($medium);
        border: none;
        background-color: $darkGreen;
        border-radius: rem(4);
        font-size: rem(16);
        text-transform: uppercase;
        cursor: pointer;
    

        @media all and (min-width: 768px) { 
        width: rem(278);
    }
    }
}



        






