.hero-contact__image {
  width: 100%;
  background: url('../images/hero-contact.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: rem(320);
}

@media all and (min-width: 768px) {
  .hero-contact__image {
    height: rem(300);
  }
}

@media all and (min-width: 1200px) {
  .hero__image {
    height: rem(400);
  }
}
