#about {
  position: relative;
}

.about__title {
  color: $darkGreen;
  font-family: $rubik;
  font-weight: 500;
  margin: rem($medium) 0;
  font-size: rem(24);
  height: rem($big);
  line-height: rem($big);
  text-transform: uppercase;
  @media all and (min-width: 768px) {
    margin: rem($big) 0 rem(41);
  }
}

.member__list {
  margin: 0;
  list-style: none;
  padding: 0;
  .member__item {
    margin-bottom: rem($big);
    @media all and (min-width: 768px) {
      display: grid;
      grid-template-columns: minmax(auto, rem(205)) auto;
      grid-gap: rem($medium);
      text-align: left;
      margin-bottom: rem(60);
      &:nth-child(even) {
        text-align: right;
        grid-template-columns: auto minmax(auto, rem(205));
      }

      &:nth-child(even) .member__content {
        grid-column: 1/2;
        grid-row: 1/2;
        // order: -1;
      }
    }
    @media all and (min-width: 1200px) {
      grid-gap: rem($big);
      grid-template-columns: rem(290) auto;
      &:nth-child(even) {
        text-align: right;
        grid-template-columns: auto rem(290);
      }
      &:nth-child(odd) .member__bio {
        padding-right: rem(160);
      }

      &:nth-child(even) .member__bio {
        padding-left: rem(160);
      }
    }
  }
}

.member__content {
  .member__name {
    font-size: rem(20);
    line-height: 2.25;
    color: $black;
    font-weight: 400;
    margin: rem($small) 0 0;
    @media all and (min-width: 768px) {
      margin: 0;
    }
  }

  .member__bio {
    margin: 0;
    color: $darkGray;
    line-height: 1.5;
    font-size: rem(16);
  }

  .member__origin {
    margin-top: 0;
  }
}

.member__image--container {
  border: rem(5) solid rgba($black, 0.08);
  width: rem(180);
  height: rem(180);
  border-radius: rem(4);
  overflow-y: hidden;
  margin: 0 auto;
  transition: border-radius ease 1s, box-shadow ease 1s;
  @media all and (min-width: 768px) {
    width: rem(210);
    height: rem(210);
  }
  @media all and (min-width: 1200px) {
    width: rem(280);
    height: rem(280);
    margin: 0;
  }
  .member__image {
    width: 100%;
  }
  &:hover {
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba($darkGray, 0.3);
  }
}

.member__linkList {
  list-style: none;
  margin: rem($small) auto 0;
  padding: 0;
  font-size: rem(16);
  line-height: 1.88;
  color: $darkGray;
  .member__linkItem {
    display: inline-block;
    &::before {
      content: '·';
    }
    &:first-child::before {
      content: '';
    }
    .social_media_link {
      color: $darkGreen;
      font-size: rem(16);
      padding: 0 rem(7);
      display: inline-block;
      &:hover {
        color: $lightGreen;
      }
    }
  }
}
