@mixin paragraphStyle() {
  font-family: $openSans;
  font-size: rem($defaultFontSize);
  color: $darkGray;
  line-height: rem(24);
  font-weight: 400;
}

@mixin titleStyle($color, $fontSize) {
  font-family: $rubik;
  color: $color;
  line-height: rem($big);
  font-size: $fontSize;
}

@mixin flexLayout($justifyContent) {
  display: flex;
  justify-content: $justifyContent;
}
