// colors (background and text color)
$darkGreen: rgb(9, 157, 141);
$lightGreen: rgb(20, 217, 196);
$white: #fff;
$black: #000;
$darkGray: #54585a;
$lightGray: #b8b8b9;

// sizes (fonts and heights)
$big: 45;
$medium: 30;
$small: 15;
$defaultFontSize: 16;

// typography
$openSans: 'Open Sans', sans-serif;
$rubik: 'Rubik', sans-serif;
